KCP_KUBECONFIG=.secret/kcp.yaml
MCP_KUBECONFIG=.secret/mcp.yaml
KUBECONFIG=.secret/runtime.yaml
RUNTIME_NAMESPACE=account-2bzns

KCP_OPERATOR_APIEXPORTENDPOINTSLICENAME=mcp.openmfp.org

LOG_NO_JSON=true
MCP_ISSUERURL=https://discovery.ingress.garden.live.k8s.ondemand.com/projects/laasl/shoots/f62048a7-6736-4620-ab9c-2e1ee22239fc/issuer